body{
    background-color: rgb(132, 247, 247);
}
.group{
    padding-top: 15px;
}
.group label{
    margin-left: 5%;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.group input{
    border: rgb(132, 247, 247) solid 2px;
    border-radius: 10px;
    height: 25px;
    margin-left: 50px;
}
.login{
    margin-top: 50px;
    width:30%;
    height:500px;
    border: rgb(132, 247, 247) solid 1px;
    background-color: rgb(121, 252, 165);
    margin-left: 33%;
    border-radius: 50px;
}
button{
    margin-top: 30px;
    margin-left: 30px;
    height:30px;
    width:60px;
    border-radius: 10px;
    border: rgb(132, 247, 247) solid 1px;
    background-color: rgb(151, 152, 250);
}